{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="form-group">
            <select class="form-control" name="BookName">
                <option disabled selected value> BookName </option>
                {%for i in books%}
                    <option> {{i}} </option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="0" name="price" placeholder="Price" type="number">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" min="0" name="number" placeholder="Number" type="number">
        </div>
        <div class="form-group">
            <input name="description" class="form-control" placeholder="Note/ Description" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
